<h2><%= link_to @post.title, @post.url %> by <%= @post.author.username %></h2>
<h4>Content:</h4><br>
<p><%= @post.content %></p>
<form action="<%= upvote_post_url %>" method="post">
    <%= auth_token %>
    <input type="submit" value="Upvote">
</form>
<form action="<%= downvote_post_url %>" method="post">
    <%= auth_token %>
    <input type="submit" value="Downvote">
</form>
<h4>Subs</h4>
<ul>
    <% @post.subs.each do |sub| %>
        <li><%= link_to sub.title, sub_url(sub) %></li>
    <% end %>
</ul>
<h3>Comments</h3>
<%= link_to 'Comment on this post!', new_post_comment_url(@post) %>
<ul>
    <% @comments_hash[nil].each do |top_comment| %>
        <li>
            <%= link_to "(#{top_comment.vote_sum}) #{top_comment.content}", comment_url(top_comment) %>
            <%= render 'comments/comment', comment: top_comment, comments_hash: @comments_hash %>
        </li>
    <% end %>
</ul>
<%= link_to 'Edit', edit_post_url %>
